In [ ]:
##daily0608
'''
使用0607生成的数据练习正则表达式.

'''

In [1]:
import re
data='Sun Apr  9 06:25:34 2000::maomr@ttksyi.org::955232734-5-6'

##一.匹配出星期几
mt=re.match(r'^(Sun|Mon|Tue|Wed|Thu|Fri|Sat)',data)##注意起始符号^必须位于分组外部
mt.group()

'Sun'

In [2]:
mt.groups()

('Sun',)

In [3]:
mt.group(1)

'Sun'

In [4]:
mt2=re.match(r'^(\w{3})',data)##只要前3个字符
mt2.group()

'Sun'

In [5]:
mt2.groups()

('Sun',)

In [6]:
mt2.group(1)

'Sun'

In [7]:
mt3=re.match(r'^(\w){3}',data)##与上面进行对比
mt3.group()

'Sun'

In [8]:
mt3.groups()

('n',)

In [9]:
mt3.group(1)

'n'

In [10]:
mt3.group(2)

IndexError: no such group

In [11]:
##二.匹配，搜索，与贪婪

##1.找出data中最后由两个-分割的数字

##--使用search
re.search(r'\d+-\d+-\d+',data).group()

'955232734-5-6'

In [12]:
##--使用match
##由于match是从头到尾进行匹配，因此需要填充额外的字符
pat=r'.+\d+-\d+-\d+'
re.match(pat,data).group()

'Sun Apr  9 06:25:34 2000::maomr@ttksyi.org::955232734-5-6'

In [13]:
##此时发现是全部匹配了. 因此必须使用分组.
pat2=r'.+(\d+-\d+-\d+)'
mt4=re.match(pat2,data)
mt4.group()

'Sun Apr  9 06:25:34 2000::maomr@ttksyi.org::955232734-5-6'

In [14]:
mt4.group(1)

'4-5-6'

In [15]:
##发现group(1)已经接近期望的数据了.
##而 955232734 没有完全匹配\d+ ，是因为前面的 .+ 使用了贪婪匹配
##对+使用?抑制贪婪匹配.
pat3=r'.+?(\d+-\d+-\d+)'
mt5=re.match(pat3,data)
mt5.group(1)

'955232734-5-6'

In [16]:
##2.找出data中最后3个数字中间那个数字
mt6=re.search(r'-(\d+)-',data)##注意：这里正则表达式中，使用了额外的- -信息，欲精确查找模式.然后再从中剥离出分组，才是期望的答案.
mt6.group()##匹配到的模式

'-5-'

In [17]:
mt6.group(1)##分组的作用，就在于此.

'5'